Temp
Logs
Library
.vs
Alexander_PW1.sln
*.csproj
obj
notes.txt
UI Imported
Assets/AssetStoreOriginals
Assets/AssetStoreOriginals.meta
Assets/CGY_ATM
Assets/Interactive Monitor
Assets/sTargeting
Assets/Sample
Assets/Sample.meta
Assets/sTargeting.meta
Assets/AssetsStore
Assets/FreeLabAssets
Assets/school
Assets/AssetsStore.meta
Assets/FreeLabAssets.meta
Assets/school.meta
Assets/Sweets Icon Pack
Assets/Sweets Icon Pack.meta
