Temp
Logs
Library
.vs
Alexander_PW1.sln
*.csproj
obj
notes.txt
UI Imported
Assets/AssetStoreOriginals
Assets/AssetStoreOriginals.meta
Assets/CGY_ATM
Assets/Interactive Monitor
Assets/sTargeting
Assets/Sample
Assets/Sample.meta
Assets/sTargeting.meta
